.header {
    width: 100%;
    border-top: 2px solid #9d0073;
    background-image: url("../../../../static/header/header-background.svg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 55% auto;
    min-height: 700px;

    @media screen and (min-width: 1490px) {
        background-size: 850px auto;
    }

    @media screen and (max-width: 950px) {
        background-size: 45% auto;
    }

    @media screen and (max-width: 440px) {
        background-size: 50% auto;
    }

    @media screen and (min-width: 1600px) {
        background-size: 1000px auto;
        min-height: 780px;
    }

    nav {
        z-index: 99999;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        padding: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 auto 50px auto;
        // max-width: 1100px;
        // background-color: rgba(255, 255, 255, 0.555);
        .nav-container {
            // background-color: red;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            max-width: 1100px;
        }

        .logo-container {
            width: 250px;
            // height: 126px;
            // overflow: hidden;
            & > a > img {
                width: 250px;

                &:hover {
                    transform: scale(0.95);
                }

                @media screen and (max-width: 440px) {
                    width: 150px;
                }
            }
        }

        .navigation {
            // background-color: red;
            text-align: right;
        }

        &.scrolled-menu {
            background-color: #a9468f;
            border-bottom: 1px solid #a9468f;
            padding: 5px 30px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.075);
        }
    }

    .main-content {
        margin-top: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        // min-height: 500px;
        // background-color: greenyellow;
        flex-wrap: wrap;
        padding: 0 5px 30px 5px; 

        .text-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 500px;

            @media (max-width: 950px) {
                text-align: center;
                width: 100%;
                max-width: 100%;
            }

            // height: 100%;
            flex: 1;
            // background-color: red;

            .btns-content {
                margin-top: 40px;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;

                @media (max-width: 950px) {
                    justify-content: center;
                }
            }
        }

        .image-content {
            text-align: center;
            margin-left: 30px;

            .image {
                min-width: 405px;
                width: 100%;
                height: 400px;
                background-color: rgb(255, 255, 255);
                border-radius: 10px;
                box-shadow: 0 13px 6px rgba(114, 114, 114, 0.13);
                display: flex;
                justify-content: center;
                align-items: center;
                color: rgba(0, 0, 0, 0.123);
                font-size: 50px;
            }

            &.hide {
                display: none;
            }

            @media (max-width: 950px) {
                display: none;
            }
        }

        .slider-navigation {
            // flex-grow: 1;
            width: 100%;
            margin-top: 50px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .nav-cirkle {
                background-color: #535353;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                margin: 0 3px;
                cursor: pointer;

                &.active {
                    background-color: #fff;
                    width: 15px;
                    height: 15px;
                    border: 2px solid #535353;
                }

                &:hover {
                    transform: scale(0.8);
                    background-color: #53535388;
                }
            }
        }
    }
}
