@import "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css";

.slick-slide,
.slick-slide * {
    outline: none !important;
}

.slick-dots {
    li {
        margin: 0;
        height: initial;
        width: initial;

        button {
            background-color: rgb(82, 82, 82);
            width: 12px;
            height: 12px;
            border-radius: 50%;
            margin: 0 3px;
            cursor: pointer;
            overflow: hidden;

            &::before {
                display: none;
            }

            &:hover {
                transform: scale(0.8);
                // background-color: #53535388;
            }
        }

        &.slick-active {
            button {
                border: 2px solid rgb(82, 82, 82);
                background-color: transparent;
            }

        }
    }

}
