$main-color: #9d0073;


@font-face {
	font-family: "site-title";
	src: url("../../static/fonts/Thasadith/Thasadith-Regular.ttf");
}

@font-face {
	font-family: "main-text";
	src: url("../../static/fonts/Roboto/Roboto-light.ttf");
}

@font-face {
	font-family: "main-text-stronger";
	src: url("../../static/fonts/Roboto/Roboto-Regular.ttf");
}